version: "3.9"

services:
  app:
    build: ..
    container_name: pe-dashboard-app
    ports:
      - "8000:8000"
      - "8501:8501"
    volumes:
      - ../data:/app/data
    environment:
      - PYTHONUNBUFFERED=1
